@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;800&display=swap');

:root {
    --bs-font-sans-serif: "Work Sans", sans-serif;
    --bs-link-color-rgb: 255, 61, 0;
    --bs-link-hover-color-rgb: 213, 0, 0;
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

h1 {
    font-weight: 800;
    font-size: calc(1.5rem + 1.5vw);
}
h2 {
    font-weight: 800;
    font-size: calc(1rem + 1vw);
}
em {
    font-weight: 500;
    font-style: normal;
    color:#111;
}

p.lead em {
    font-weight: 400;
    font-style: normal;
}

blockquote {
    font-size: 92%;
    padding-left: 1.5rem;
    padding-right: 2.5rem;
}

a {
    text-decoration: none;
}

a.link-dark{
    text-decoration: underline;
}

nav a {
    font-weight: 600;
}

nav a.aqui {
    color: rgb(213, 0, 0);
}
.btn {
    box-shadow: 1px 1px 5px rgba(200, 200, 200, 0.5);
}
.display-5{
    font-size: calc(1.425rem + 1.425vw) !important;
    font-weight: 500;
    line-height: 1.1 !important;
    margin-left: -0.1rem;
    letter-spacing: -0.05rem;
    max-width: 75%;
}

@media (orientation: portrait) {
.display-5{max-width: 90%;}
}

dd a{
    color:#555;
}

dd a:hover{
    color:#222;
}

dd{
    margin-left:1.5rem;
    text-indent: -1.5rem;
}